body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main{
  width: 100%;
}

nav{
  width: 100%;
  /* background-color: black; */
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo a{
  margin-left: 100px;
  font-size: 30px;
  color: red;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

ul {
  margin: 0px;
  margin-right: 40vw;
}

ul li {
  float: left;
  padding: 0px 10px;
  list-style: none;
}

ul li a:hover{
  color: red;
}

.header{
  background-image: url("/static1/images/wok2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.content h1{
  font-size: 50px;
}

.content p{
  font-size: 20px;
}

button{
  background: none;
  border: 1px solid ;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 6px;
  transition: 0.5s all ease;

}

button:hover{
  background: black;
  color: red;
}

