body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1{
  font-family: 'Baloo Chettan 2', cursive;
}

.main {
  width: 100%;
}

nav {
  width: 100%;
  /* background-color: black; */
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo a {
  font-family: 'Baloo Chettan 2', cursive;
  margin-left: 100px;
  font-size: 30px;
  color: red;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

ul {
  margin: 0px;
  margin-right: 40vw;
}

ul li {
  float: left;
  padding: 0px 10px;
  list-style: none;
}

ul li a:hover {
  color: red;
}

.header {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static1/images/wok3.jpeg");
  background-position: 0 70%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
 
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.content h1 {
  font-size: 4.2vw;
  margin-bottom: 0%;
}

.content p {
  font-size: 20px;
}

button {
  background: none;
  border: 1px solid;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 6px;
  transition: 0.5s all ease;

}

button:hover {
  background: black;
  color: red;
}

.section1 {
  padding-top: 5vw;
  text-align: center;
}

.container h1 {
  margin: 0%;
  font-size: 3.375vw;
}

.container p {
  font-size: 1.8vw;

}

.section2 {
  padding-bottom: 4vw;
}

.container-section2 {
  display: block;
  width: 100%;
  
  margin-right: auto;
  margin-left: auto;

}

.menu-board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.container-section2 h1{
  text-align: center;
  margin: 0 0 .5vw;
  font-size: 3.375vw;
  color: white;
}

.banner{
  padding: 60px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
}
.section4{
  display: block;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.contact-row{
  display: flex;
}

.location, .openingsuren{
    flex: 1;
    text-align: center;
}

.location, .openingsuren h3{
  font-family: 'Open Sans', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}


