:root {
  --text-color1: rgb(255,255,255);
  --font-title: 'Baloo Chettan 2', cursive;
  --font-subtitle:  'Open Sans', sans-serif;
  --font-paragraph: 'Roboto', sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2%;
}

.logo a {
  font-family: var(--font-title);
  margin: 2rem;
  font-size: 4ch;
  color: red;
  font-weight: bold;
}

.icons{
  line-height: 80px;
  margin-right: 2.5%;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

ul {
  margin: 0px;
}

ul li {
  display: inline-block;
  padding: 0px 20px;
}

ul li a{
  transition: all 0.3s ease 0s;
}

ul li a:hover {
  color: red;
}

.background-image {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static1/images/wok3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
 
}

.content {
  position: absolute;
  top: 25vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

h1{
  font-family: var(--font-title);
  color: var(--text-color1);
}

.content h1 {
  font-size: 5.2vw;
  margin-bottom: 0%;
}

.content p {
  font-size: clamp(2em, 50%, 3em);
}

button {
  background: none;
  border: 1px solid;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 6px;
  transition: 0.5s all ease;

}

button:hover {
  background: black;
  color: red;
}

.section1 {
  padding-top: 5vw;
  text-align: center;
  padding-bottom: 5vw;
}

.container h1 {
  margin: 0%;
  font-size: 4.375vw;
  --text-color1: black;
  
}

.container p {
  font-size: 24px;
  line-height: 2vw;

}

.section2 {
  
  padding-bottom: 5vw;
}

.container-section2 {
  display: block;
  width: 100%;
  
  margin-right: auto;
  margin-left: auto;

}

.menu-board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.container-section2 h1{
  text-align: center;
  margin: 0 0 .5vw;
  font-size: 3.375vw;
  color: white;
}

.banner{
  padding: 60px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
}

.location, .openingsuren{
    flex: 1;
    text-align: center;
}

.location, .openingsuren h3{
  font-family: var(--font-subtitle);

  
}

p{
  font-family: var(--font-paragraph);
}

.container-gallery{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  margin: 0 auto;
  max-width: 100%;
  
  
}

.container-gallery img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-row{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  margin: 3vw auto;
  max-width: 100%;
}

.contact-row p, h3{ 
 font-size: 1.3em;
}

.contact-row .location .openingsuren{
  height: 100%;
  width: 100%;
  object-fit: cover;
  text-align: center;
}

.navbar li a {
  font-family: 'Roboto', sans-serif;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img{
  width: 1.5vw;
  height: auto;
}
